<div class="container" style="margin-top: 50px">
    <!-- Fila 1 -->
    <div class="row">
        <p class="text-end"> Hola {{usuario}}!<a class="btn btn-danger" href="/admin/login/logout"> Cerrar Sesión <i class="fas fa-sign-out-alt"></i></a></p>
    </div>
    <!-- Fin Fila 1 -->

    <!-- Fila 2 -->
    <div class="row">
        <div class="col-7">
        
        </div>   
        <p class="col-5 text-end">
            <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fas fa-plus" aria-hidden="true"></i> Nuevo</a>
        </p>
    </div>
    <!-- Fin Fila 2 -->

    <!-- Fila 3 -->
    <div class="row">
        <div class="col">
            <div class="col-7">
                <h3>Listado de novedades</h3>
                <table class="table">
                    <thead>
                        <tr class="table-dark">
                            <th scope="col">ID</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Imagen</th>
                            <th scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each novedades}}
                        <tr>
                            <th scope="row">{{id}}</th>
                             <td>{{titulo}}</td>
                             <td>{{{imagen}}}</td>
                             <td class="text-center">
                                <a href="/admin/novedades/modificar/{{id}}"  class="btn btn-sm btn-secondary">
                                    <i class="fa fa-pencil"></i> Modificar
                                </a>
                                <a href="/admin/novedades/eliminar/{{id}}"  class="btn btn-sm btn-secondary">
                                    <i class="fa fa-trash"></i> Eliminar
                                </a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Fin Fila 3 -->
</div>
